.rootbox {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.drogbox {
	width: 100%;
	position: absolute;
	transition-duration: 0s;
	left: 0;
}

.listwrap {
  	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: relative;
}
.listcontent {
	box-sizing: border-box;
	width: 100%;
}

.drogbar {
	background-color: #eee;
	position: relative;
}

.loading {
	position: absolute;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: smaller;
	color: #888;
}

.top {
	bottom: 0;
}

.buttom {
	top: 0;
}

.loadingline {
	width: 100%;
	display: flex;
	height: 20px;
	align-items: center;
	font-size: smaller;
	color: #888;
	font-size: 10px;
	line-height: 0;
	align-items: center;
	justify-content: center;
}

.arrowico, .loadingico {
	height: 1rem;
	width: 1rem;
	transform-origin: center;
	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.error, .loadingtext {
	color: #888;
	
}

.arrowbottom {
}
.arrowup {
	transform: rotate(180deg);
	transform-origin: center;
}
.debug {
	width: 100%;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	color: red;
	position: absolute;
}
