.example {
    width: 100%;
    height: 100%;
}
:global(html), :global(body) {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
}

:global(#example) {
    width: 100%;
    height: 100%;
}