.rootbox {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.item {
	height: 3rem;
	border-bottom: 1px solid #eee;
	color: #222;
	line-height: 3rem;
	text-align: center;
}

.bg_orange {
	background-color: orange;
}

.bg_green {
	background-color: green;
}