body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
  background-color: rgb(131, 131, 131) !important;
  color: #fff !important;
}

.pulldowntext {
  color: #fff;
}

.item {
	border-bottom: 1px solid rgb(255, 255, 255);
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  background: #48aff0;
  flex: auto;
}
.listb {
  background: #6f48f0;
  flex: auto;
}

.wrap {
  display: flex;
}

.none {
  color: #fff;
  text-align: center;
  font-size: smaller;
  text-align: center;
  padding-top: 3rem;
}